p {
    color: white;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", Monospace;
}

h1 {
    color: white;
    font-size: 36px;
    font-family: "Lucida Console", "Courier New", Monospace;
}